body{
	background-color: #EEEEEE;
}
.container{
	width: 100%;
}
.container .canvas{
    position: relative;
    top: 0px;
    left: 0px;
    box-sizing: border-box;
    width: 70%;
    margin: 15%;
}

/* 提示文本 */
.container #tips,.set{
	font-family: "Helvetica Neue",Helvetica,"微软雅黑",Arial,Verdana,sans-serif;
	font-size: 16px;
    font-weight: 600;
	text-align: center;
    color: #3C3C3D;
}
.container .set{
	margin: 0 auto;
	margin-top: 16%;
	width: 64%;
	text-align: left;
	line-height: 30px;
}
.container .set label{
	vertical-align: middle;
    margin-left: 7%;
}

/* 设置radio样式
input[type=radio] {
    display: inline-block;
    vertical-align: middle;
    width: 13px;
    height: 13px;
    -webkit-appearance: none;
    background-color: transparent;
    border: 0;
    outline: 0 ;
    line-height: 25px;
    color: #d8d8d8;
}
input[type=radio]:after {
    content: "";
    display:block;
    text-align: center;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    line-height: 25px;
    color: #fff;
    border: 2px solid #BABABA;
    background-color: #fff;
    box-sizing:border-box;
}
input[type=radio]:checked:after {
    content: "";
    border: 2px solid #656565;
    padding: 1px;
    background-clip: content-box;
    background-color: #656565;
} */